@import url('https://fonts.googleapis.com/css?family=Montserrat');

section {
    text-align: center;
  }

  h1 {
    padding: 20px;
    font-weight: 300 !important;
  }

  .hero {
    background-image: linear-gradient( rgba(98, 179, 255, 0.6), rgb(255, 243, 224, 0.7));
    width:100vw;
    height:100vh;
    overflow:hidden;
  }

  .heroVideo{
    height:100vh;
  }

  .brush{
    position: absolute;
    top: 40%;
    color: rgb(71, 71, 255);
  }
  
  .brushHeader {
    font-family: "Montserrat";
    background-image: linear-gradient(rgb(168, 241, 243), rgb(255, 243, 224));
    background-size: cover;
    color: transparent;

    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    
    font-size: 12vw;
  }

  .about, .contact {
    background-color: rgb(255, 243, 224);
  }

  .storefront {
    object-fit: cover;
    border-radius: 50px;
    width: 800px;
    max-width: 80vw;
  }

  .services{
    background-image: linear-gradient(rgb(168, 241, 243), rgb(255, 243, 224));
  }


  .fineprint{
    font-size: 12px;
  }

  .brandImg {
    height: 200px;
    width: 200px;
    max-height: 70%;
    max-width: 70%;
    object-fit: contain;
  }

  /* .instagram-feed {
    background-color: salmon;
  } */

  .insta-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 3px;
  }

  /* Contact Section */
  .contact-form button {
    text-align: center;
  }

  .btn-submit {
    background-color: rgb(255, 199, 109);
    color: white;
  }

  .map {
    object-fit: cover;
    border-radius: 50px;
    width: 1000px;
    max-width: 90vw;
    height: 400px;
  }